/target
/target_ci/

# Model files
models/*.bin
models/*.ckpt
models/*.pth
models/*.h5
models/*.pb
models/*.onnx
*.bin
*.csv

# Local logs / run artifacts
/logs/
"*.zip"  
"data/speech_commands/*.zip" 
"*.zip"  
"data/speech_commands/" 
